main {
    max-width: 500px;
    margin: 0 auto;
    
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #fe0ab7;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
}

.form {
    background-color: white;
    margin:10px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin-top: 2px;
    margin-bottom: 5px;
}

#input {
    width: auto;
    height: 30px;
    width: 180px;
    margin: 5px;
}

#button {
    width: 150px;
    height: 35px;
    margin:5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: none;
    border:none;
    background-color: #e9ff88; 
}

#button:hover {
    background-color: #d8eb7b;
}